/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.rspec_status
spec/dest
.bundle
*.gem
spec/fixtures/.jekyll-metadata
spec/fixtures/.jekyll-cache
*.bundle
*.so
*.o
*.a
mkmf.log